*{
    box-sizing: border-box;



    header{
        background-color: #1b3039;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 85px;
        padding: 5px 10%;
    }
    
    .header .logo{          /*TRANFORMA LA FELCHA DEL CURSOR EN UNA MANO CUANDO ESTA ENCIMA DEL LOGO O DEL NAV LINKS */
        cursor: pointer;
    }
    
    .header .logo img{
        height: 120px;
        width: auto;
    }
    
    .header .logo img:hover{     /*CUANDO EL CURSOR SE ACERCA AL LOGO ENTONCES HACE UN EFECTO MINIMO DE AGRANDAMIENTO*/
        transform: scale(1.2);}
    
    .header .nav-links{         /*ESTO HACE QUE DESAPARESCAN LOS PUNTOS DE LOS BOTONES DE NAVEGACION NAV LINKS */ 
        list-style: none;
    }
    
    .header .nav-links li{      /*ESTO LO QUE VA HACER ES ALINEAR EN UNA SOLA LINEAS LOS BOTONES DE NAVEGACION*/
        display: inline-block;
        padding: 0 20px;
    }
    
    .header .nav-links li:hover{  /*ESTO VA AGRANDAR LOS BOTONES DE NAVEGACION CUANDO EL MOUSE LOS TOQUE O SE ACERQUE */
        transform: scale(1.1);
    }
    .header .nav-links a{
        font-size: 700;
        color:#eceff1;  /*le va dar color blanco a las letras para que dejen de ser violetas*/
        text-decoration: none; /*para quitar la lineas debate de los enlaces*/
    
    }
    .header .nav-links li a:hover{   /*ESTO LE VA DAR COLOR AMARILLO CADA VEZ QUE EL MOUSE PASE POR ENCIMA DE LOS BOTONES NAV*/
        color: #ffbc0e;
    }
    





}

body {                                      /*margen para el body*/
    background: #181818;
    color:#fff;  
    font-family: "Quicksand", sans-serif;
    padding: 0 1.5em;  

}

.content{                                /*margen para el content*/
    max-width: 1170;
    margin-left:auto;
    margin-right: auto;
    padding: 1.5em;
}

.logo contact{                                    /*letras centra y agranda tamaño*/                             
    text-align: center;
    font-size: 3em; 
}

.logo contact span{                              /*la segunda parte del logo la cambia de color*/
    color:#b70e;        
}

.contact-wrapper{                       /*el contenedor de todo el cuadro contacto */
    box-shadow: 0 0 20px 0 rgba(255,255,255, .3);  /*esto le va dar el color luminoso pordetras*/
}

.contact-wrapper> * {                  /*a todos los elementos de cuadro de contacto le damos margen*/
    padding: 1em;

}

.contact-form{                      /*le da color negro a la parte 1 de los datos adicionales*/
    background: #222222;
}


/*aca empiezo aplicar el grid y dividir en fracciones el formulario */
.contact-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;

}


/*cremos una clase aparte para el boton message y para text area (class=block) para que figuren en una grilla separada*/
.contact-form form .block {
    grid-column: 1 / 3;

}





/*contact form form p aplica a todos los elementos p*/
.contact-form form p {
    margin: 0;
    padding: 1em; 

} /*distintos elemntos*/
.contact-form form button,
.contact-form form input,
.contact-form form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline:0;  
    color:#fff;   /*color blanco a las letras*/
    border-bottom: 1px solid #d63031;  /*le da el subrayado rojo al formulario*/

}

/*aca le vamos a dar colores y formar al boton "enviar"*/
.contact-form form button {
    background: #b70e21;
    color:#000;
    border: 0;
    text-transform:uppercase;  /*esto va hacer que este en mayusculas el boton enviar*/
    padding: 1em;

}

/*aca le damos las propiedas para que */
.contact-form form button:hover,
.contact-form form button:focus{
    background: #d63031;
    color: #fff;
    transition: backgroud-color 1s ease-out;
    outline: 0;
    

}



/*apartir de aca empezamos a modificar la parte 2 del formulario de contacto la parte derecha*/

.contact-info{
    background: #000;      /*le da color gris a la parte 2 de los datos adicionales*/
}

/*todos los elementos de la parte 2 calle,telefono,correo*/
.contact-info h4,
.contact-info ul,
.contact-info p{
    text-align: center;
    margin: 0 0 1rem  0; 
}

/*esto le quita los item al listado de la parte 2 del formulario ,calle,telefono,correo*/
.contact-info ul{
    list-style:none; /*le quita los items*/
    padding: 0;
}


/*aca le doy separacion a los elementos de la segunda parte del formulario de contacto */
.contact-info ul li{
    padding: .3em;
}




/*ACA COMIENZA CSS DE FOOTER*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: sans-serif;
    text-transform: capitalize;/*esto hace que aparesca en mayuscula la primera palabra*/
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}


.caja{
    width:50%;
    height: 50vh;
    background-color: lightblue;
    border: 2px solid blue;
    text-align: center;
    line-height: 100px;
    margin: 500px 0;
    gap:250px;



}


.footer {
    background-color: #24262B;
    padding: 80px 0;

}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;             /*esto al parecer dejaria espacio entre las columnas */    
    padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 500;
    border-bottom: 2px solid #00C3FF;
    padding-bottom: 10px;
    display: inline-block;  /*mantiene el subrayado al limite de la palabra*/
}

.footer-links ul li a {
    font-size: 18px;  /*tamaño de las letras*/
    text-decoration: none;
    color:#BBBBBB;  /*le quita el color violeta a los enlaces*/
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover{    /*LE DA UNA ANIMACION CADA VEZ QUE EL CURSOR SE ACERCA A LOS BOTONES DEL FOOTER*/
    color: #FFFFFF;
    padding-left: 6px;
}

.social-link a {   /*LE DA TODAS LAS CARACTERISTICAS A LOS BOTONES REDES SOCIALES*/
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255,255,255, 0.2);
    margin:  0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;   /*redondea los iconos*/
    color: #FFFFFF;
    transition: ALL;
}


.social-link a:hover{   /*HACE QUE CUANDO SE ACERQUE EL CURSOR A LOS ICONOS SE PONGAN AZULES*/
    background-color: #00C3FF;
}


/*aplicamos las mediaqueries para contacto*/
@media (min-width: 700px)  {
    body {
        padding: 0 4rem;
    }

    .contact-wrapper{
        display: grid;
        grid-template-columns:  2fr  1fr ;
    }

    
    .contact-wrapper > *{   /*le ponemos un margin a todos los elementos de la segunda parte del formulario de contacto*/
        padding: 3em;
    }
     
    
    /*le hacemos un espaciado entre todos los elementos*/
    .contact-info h4,
    .contact-info ul,
    .contact-info p{
        padding: 1em; /*espaciado entre elementos*/
        text-align: left; /*correo todos los elementos hacia la izquierda*/
    }
}




@media  (max-width:500px){
    
    /*FOOTER*/

    .footer-row {
        text-align: center;
    }

    .footer-links{
        width: 100%;
        margin-bottom: 30px;    }

 
}

